@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  /* base colours */
  --black: #000;
  --white: #fff;
  --gray: #e5e5e5;
  /* primary colours */
  --shark: #212529;
  --grayChateau: #a4a5a6;
  --lochinvar: #2a9085;
  --tango: #ee7623;
}

* {
  cursor: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  outline: none;
  text-decoration: none;
  cursor: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
